.movie-description {
    width: 1000px;
    display: flex;
    margin-left: 200px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.movie-description-content {
    max-width: 800px;
    width: 100%;
    text-align: center;
}

.movie-description h2 {
    margin-top: 20px;
    font-size: 50px;
    color: gold;
}

.movie-description p {
    margin-top: 20px;
    font-size: 30px;
    color: black;
}

.movie-description iframe {
    width: 800px;
    height: 800px; 
    margin: 20px 0;
  }
  